.app-container {
  display: flex;
  min-height: 100vh;
}

.app {
  flex: 1;
  margin-left: 10vw;
  min-width: 0;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  transition: margin-left 0.3s ease;
}

.app.sidebar-collapsed {
  margin-left: 3vw;
}

@media (min-width: 769px) {
  .app {
    margin-left: max(10vw, 150px);
  }
  
  .app.sidebar-collapsed {
    margin-left: max(3vw, 60px);
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  
  .app {
    margin-left: 0;
  }
  
  .app.sidebar-collapsed {
    margin-left: 0;
  }
}
