.app-container {
  display: flex;
  min-height: 100vh;
}

.app {
  flex: 1;
  margin-left: 250px;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  
  .app {
    margin-left: 0;
  }
}
